@import '../../global.scss';

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.menu{
    width: 300px;
    height: 100vh;
    background-color: rgb(22, 127, 141) ;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1.5s ease;

    &.active{
        right: 0;
    }

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 25px;
        font-weight: 200;
        color: #ffffff;
        width: 60%;

        li{
            margin-bottom: 20px;
            a{
                font-family: 'Monoton', cursive;
                color: inherit;
                font-size: inherit;
                text-decoration: none;
            }

            &:hover{
                font-weight: 700;
                color: rgb(252, 236, 9);
            }
        }
    }

}