@import '../../global.scss';

.portfolio{
    background-color: #e4e7e4;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: 50px;

        @include mobile{
            font-size: 20px;
        }
    }
 
    ul{
        margin: 10px;
        padding: 0;
        list-style: none;
        display: flex;

        @include mobile{
            margin: 10px 0;
            flex-wrap: wrap;
            justify-content: center;
        }

    }

    .container{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        @include mobile{
            width: 100%;
        }
        

        .item{
            width: 220px;
            height: 150px;
            border-radius: 10px;
            margin: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;
            transition: all 1s ease;

            @include mobile{
                width: 130px;
                height: 100px;
            }

            h3{
                position: absolute;
                font-weight: 20px;
            }
            
            h4{
                position: absolute;
                font-weight: 10px;
                margin-top:30px;
            }

            a{
                margin-top: 70px;
                position: absolute;
                font-weight: 20px;
                font-size: 15px;
                text-decoration: none;
                color: rgb(32, 5, 11);
            }

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                z-index: 1;
                overflow: hidden;
            }

            &:hover{
                background-color: $globalColor;
                img{
                    opacity: 0.1;
                    z-index: 0;
                    cursor: pointer;
                }

                a{
                    color: white;
                    text-decoration: underline;
                }

            }

        }
    }
}