@import '../../global.scss';


.intro{
    background-color: #ffff;
    display: flex;

    @include mobile{
        align-items: center;
        flex-direction: column;
    }

    .left{
        // background-color: rgb(238, 238, 238);
        flex: 0.5;
        overflow:hidden ;
        

        .dPic{
            margin-left: 80px;
            margin-top: 30px;
            width: 600px;
            height: 400px;        
            display: flex;
            align-items: flex-end;
            justify-content: center;

            @include mobile{
                align-items: flex-start;
            }

            img{
                height: 90%;

                @include mobile{
                    height: 50%;
                }
            }
        }
        
    }

    .right{
        // background-color: rgb(236, 233, 233);
        flex: 0.5;
        position: relative;

        .wrapper{
            width: 100%;
            height: 100%;

            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile{
                padding-left: 0;
                align-content: center;
            }

            h1{
                font-size: 60px;
                margin: 10px 0;
                color:rgb(19, 101, 112);

                @include mobile{
                    font-size: 40px;
                }
            }
            h2{
                font-size: 30px;
                color:rgb(19, 101, 112);

                @include mobile{
                    font-size: 30px;
                }
            }
            h3{
                font-size: 35px;
                margin-left: 90px;
                color:rgb(19, 101, 112);

               
            }

            h4{
                margin-left: 0px;
                font-size: 30px;
                margin-top: 10px;
                color: rgb(22, 127, 141);

                @include mobile{
                    font-size: 20px;
                }

                span{
                    color: rgb(22, 127, 141);
                    
                }

                .ityped-cursor{
                    animation: blinker 1s infinite;

                }

                @keyframes blinker {
                    50%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }
                    
                }
            }
            
        }

        a{
            position: absolute;
            bottom: 10px;

            
            .icon{
                font-size: 40px;
                margin-left: 300px;
                animation: timer 2s infinite;
                color:rgb(19, 101, 112);

                @include mobile{
                    font-size: 30px;
                }
            }

            @keyframes timer {
                100%{
                    opacity: 0.1;
                }
            }
        }

    }
}